* {
    font-family: "Helvetica", "Arial", sans-serif;
}
.search-logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
img {
    width: 150px;
}

li {
    display: inline;
    justify-content: space-between;
}

#header {
    display: inline;
}

#searchFormInput, #searchFormButton{
    display: flex;
    justify-content: center;
}

#searchResults {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    justify-content: center;
}

input {
    width: 400px;
    height: 40px;
    font-size: .8em;
    margin-top: 20px;
    color: #5b5b5b;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
}
button {
    margin-top: 20px;
    font-size: .8em;
    width: 80px;
    height: 33px;
    color: white;
    display: block;
    background-color: #4285f3;
    border-radius: 3px;
    border: 1px solid #1a5fd0;
}

button:hover{
    background-color: #5998ff;
}