* {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

/* Element Sizes */

.search-logo {
    padding-top: 100px; /* Space above the logo: 100px */
    width: 150px; /* Width of the logo: 150px */
}

form input {
    border-radius: 18px;
    border-style: solid;
    height: 33px;
    margin-top: 20px; /* Space above the input: 20px */
    width: 400px; /* Width of the input field: 400px */
}

form button {
    border-radius: 3px;
    border-style: solid;
    color: white;
    height: 40px;
    margin-top: 20px; /* Space above the button: 20px */
    width: 80px; /* Width of the "Search" button: ~80px (automatic) */
}

/* Colors */
form input {
    border-color: #c4c4c4; /* Color of the input border: c4c4c4 */
    color: #5b5b5b /* Color of the text in the input: 5b5b5b */
}

form button {
    background-color: #4285f3; /* Color of the button (background): 4285f3 */
    border-color: #1a5fd0; /* Color of the button border: 1a5fd0 */
}

form button:hover {
    background-color: #5998ff /* Color of the button on hover: 5998ff */
}